html,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}



.paperBox{
    background: #fff;
    width: 600px;
    height: 650px;
    align-content: center;
    padding: 2rem;
   
}

.imgLog{
    width: 50px;
    height: 50px;
}

.btnLog{
    width: 28rem;
    padding: 0.5rem;
}

.imgLogoNav{
    width: 10vw;
}

.NavItem{
    display: inline;
    position: relative;
    left: 2rem;
    gap: 20px;
}
.loginCtr{
background:#FD4664 ;
width:100vw ;
height:100vh ;
overflow: hidden;
}

.imgCtr{
    padding: 8vh;
    gap: 1.5vw;
}

.btnCourse{
    color: #FD4664;

}

.cardGrid{
    padding-top: 1rem;
    padding-bottom: 0.1rem ;
}

.cardCourse{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cardMedia{
    padding-top:56.25% ;
}

.cardContent{
    flex-grow: 1;
  }

.cardButton{
    color: #FD4664;
    font-size: 0.5rem;
  }

.topContainer{
    width: 75vw;
    margin-left: 10rem;
    margin-top: 6rem;
  
}

.btnDash{
    margin-bottom: 100rem;
}

.hr{
    border: 1px solid #FD4664;
    opacity: 0.6;
}

#profile{
    position: relative;
    left: 50rem;
}

.imgProfile{
    width: 2vw;
    
    border-radius: 50%;
}

.btn-course{
    position: relative;
    top:1vh;
    
}

#create{
    left: 6vw;

}

#cancel{
    left: 16vw;
}

.btns{
    position: relative;
    right: 56vw;
}

.Link{
    text-decoration: none;
}

.Container{
    margin: 4rem;

    position: relative;
    top: 2rem;

}

#first {
    width:70vw;
    float:left;
    
   
}
#second {
    width:30vw;
    overflow: hidden;
    position: relative;
    top:20vh;
    left: -10vw;
}

.playlist{
    width:20vw;
   float: left;


}
.VidDiv{

    width:60vw;
   
}
.SideDiv{

    width:20vw;
    
}

#leftCol {
    position: fixed;
    width: 25vw;
    overflow-y: scroll;
    top: 27vh;
    bottom: 5vh ;
    border: 1px solid aliceblue;
    padding: 30px;
    background-color: #ffd2d9;
    
    
}

.subhead{
    color: rgb(7, 7, 7);
}

.vid{
    position: absolute;
    width: 30vw;
    top: 28vh;
    bottom: 10vh ;
    left: 35vw;
}

#txtBox{
    top: 14vh;
}

#transcriptCol{
    position: fixed;
    width: 33vw;
    overflow-y: scroll;
    top: 70vh;
    bottom: 10vh ;
    left: 35vw;
    background-color: #fff;
    padding: 10px;
    
}

fieldset{
    overflow: hidden;
}

.radio{
    float: left;
    clear: none;
}

label{
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
}

input[type=radio],
input.radio{
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
}

.note{
    width: 20vw;
    padding: 40px;
  
    border: 1px solid aliceblue;

}

#txtarea{
    position: fixed;
    width: 20vw;
    top: 12vh;
    bottom: 10vh ;
    left: 74vw;
    padding: 30px;
    background-color: #fff;
}
.topic{
    padding: 20px;
    background-color: #ffd2d9;
   

}
